.row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sortClass {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	font-weight: bold;
}

.rowItem {
	flex: 1 1 10%;
	margin: auto;
	font-size: 180%;
	font-weight: bold;
	color: hotpink;
}

.inputText {
	font-size: 200%;
	width: 40%;
}